@font-face {
  font-family: "Geist";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

:root {
  --size: 20px;
}

/*SCROLLBAR */  
::-webkit-scrollbar {
  width: 10px; /* Grosor del scrollbar */
}

::-webkit-scrollbar-track {
  background: #0000; /* Azul Marino Oscuro */
}

::-webkit-scrollbar-thumb {
  background: #0000; /* Azul Marino Medio */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000; /* Azul Marino Claro al pasar el mouse */
}

.el {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #eec32d 72deg,
    #ec4b4b 144deg,
    #709ab9 216deg,
    #4dffbf 288deg,
    hsla(0, 0%, 98%, 1) 1turn
  );
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
  z-index: -1;
}
@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}