body {
	font-family: Arial, sans-serif;
	background: #000000;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1300px;
	margin: auto;
	background: rgb(0, 0, 0);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.auth-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #222;
	color: white;
	padding: 15px;
  }

  .logo h1 {
	font-size: 24px; /* Tamaño grande para destacar */
	font-weight: bold; /* Texto en negrita */
	font-family: 'Arial', sans-serif; /* Fuente moderna */
	color: white; /* Color del texto */
	text-transform: uppercase; /* Mayúsculas */
	letter-spacing: 2px; /* Espaciado entre letras */
	background: linear-gradient(45deg, #ffe341, #ff4b2b); /* Degradado */
	-webkit-background-clip: text; /* Aplica el degradado solo al texto */
	-webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
	display: inline-block;
	padding: 10px 20px;
	border-radius: 8px;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;
	margin: 0;
  }

.post-form input,
.post-form textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
}

.post-card {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	background: #fff;
}

.post-card img {
	max-width: 100%;
	height: auto;
}

.auth-button button {
	background: linear-gradient(45deg, #ffe341, #ff4b2b);
	color: rgb(0, 0, 0);
	border: none;
	padding: 10px;
	cursor: pointer;
  }
  .auth-button button:hover {
	background: linear-gradient(45deg, #aaaaaa, #ffffff);
	color: rgb(0, 0, 0);
	transform: scale(1.05);
  }

  .github-button {
	background-color: #000000; /* Color de GitHub */
  }
  
  .github-button:hover {
	background-color: rgb(0, 0, 0);
	color: #24292e;
  }
  .button-icon {
	width: 20px;  /* Ajusta el tamaño del icono */
	height: 20px;
	vertical-align: middle;
  }

.user-avatar,
.comment-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 8px;
}
.user-info,
.comments-section {
	margin-top: 10px;
}
